@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  letter-spacing: 1.2px;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --color-green: #6495ED;
  --color-white: #fff;
  --color-purple: #7330df;
  --color-grey-normal: #e6e7e8;
}

html {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  background: url("paisagem.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.header {  
  background-color: var(--color-green);
  width: 100%;
}

.main {
  max-width: 1140px;
  margin: 0 auto; 
}

.container-header {
  display: flex; 
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
  text-align: center;  
  color: var(--color-white);
  max-width: 1140px;
  margin: 0 auto;
}

.container-header h1 {
  font-size: 1.7rem;
}

.container-header p {
  font-size: 1.5rem;
  text-align: end;
}

.load-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:20px 50px;
}

.load-image img::after {
  border: 10px solid white;
  border-radius: 10px;
  height: 26rem;
  object-fit: cover;
}

div.send-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  background-color: var(--color-green);
  padding: 1rem 2rem;
  border-radius: 10%;
  font-size: 1rem;
  color: var(--color-white);
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-purple);
}

div.send-image label {
  max-width: 760px;
  padding: 0.7rem;
  border: 1px solid #fff;
  border-radius: 0.6rem;
  background-color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

div.send-image label input[type="file"] {
  display: none;
}

div.send-image label {
  color: var(--color-green);
  border: 2px solid var(--color-green);
}

div.send-image label:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: var(--color-purple);
  height: 50px;
  width: 50px;
}

.text-display {
  display: grid;
  justify-content: center;
  padding: 2rem;
  margin: 1.2rem;
  text-align: center;
}

.display-4 {
  font-size: 3rem;
  
  color: var(--color-green);
}

.display-6 {
  font-size: 1.2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  background-color: var(--color-green);
  color: var(--color-white);
  text-align: center;
  
  width: 100%;
  border-radius: 100px 100px 0 0;
}

@media only screen and (max-width: 700px) {
  * ul {
    gap: 15px;
  }

  * li {
    width: 100%;
  }

  div.send-image {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=styles.css.map */

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}